@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600px;
}

.page{
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
}

.menu{
    margin-top: 20vh;
}

.select{
    display: block;
    border: 5px solid rgb(134, 134, 134);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    margin-top: 25px;
    height: 200px;
    width: auto;
}

.mr{
    margin-right: 10px;
    margin-left: 10px;
}

.mrb{
    margin-right: 50px;
    margin-left: 50px;
    height: 50px;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #2586DF;
    color: white;
}

.mrb:hover{
    background-color: #175894;
    transition: 0.8s;
}